In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [2]:
fitness_data = "resources/fitness_trends.csv"

In [3]:
fitness_df = pd.read_csv(fitness_data)
fitness_df.head(50)

,date,step_count,mood,calories_burned,hours_of_sleep,bool_of_active,weight_kg,weight_lb
0,10/6/2017,5464,200,181,5,0,66,145.51
1,10/7/2017,6041,100,197,8,0,66,145.51
2,10/8/2017,25,100,0,5,0,66,145.51
3,10/9/2017,5461,100,174,4,0,66,145.51
4,10/10/2017,6915,200,223,5,500,66,145.51
5,10/11/2017,4545,100,149,6,0,66,145.51
6,10/12/2017,4340,100,140,6,0,66,145.51
7,10/13/2017,1230,100,38,7,0,66,145.51
8,10/14/2017,61,100,1,5,0,66,145.51
9,10/15/2017,1258,100,40,6,0,65,143.30
10,10/16/2017,3148,100,101,8,0,65,143.30
11,10/17/2017,4687,100,152,5,0,65,143.30
12,10/18/2017,4732,300,150,6,500,65,143.30
13,10/19/2017,3519,100,113,7,0,65,143.30
14,10/20/2017,1580,100,49,5,0,65,143.30
15,10/21/2017,2822,100,86,6,0,65,143.30
16,10/22/2017,181,100,6,8,0,65,143.30
17,10/23/2017,3158,200,99,5,0,65,143.30
18,10/24/2017,4383,200,143,4,0,64,141.10
19,10/25/2017,3881,200,125,5,0,64,141.10
20,10/26/2017,4037,200,129,6,0,64,141.10
21,10/27/2017,202,200,6,8,0,64,141.10
22,10/28/2017,292,200,9,5,0,64,141.10
23,10/29/2017,330,300,10,6,0,64,141.10
24,10/30/2017,2209,200,72,5,0,64,141.10
25,10/31/2017,4550,300,150,8,500,64,141.10
26,11/1/2017,4435,300,141,5,0,64,141.10
27,11/2/2017,4779,300,156,4,0,64,141.10
28,11/3/2017,1831,300,57,5,0,64,141.10
29,11/4/2017,2255,300,72,4,0,64,141.10
30,11/5/2017,539,300,17,5,500,64,141.10
31,11/6/2017,5464,300,181,4,0,64,141.10
32,11/7/2017,6041,200,197,3,0,64,141.10
33,11/8/2017,4068,300,131,2,0,64,141.10
34,11/9/2017,4683,300,154,9,0,64,141.10
35,11/10/2017,4033,300,137,5,0,64,141.10
36,11/11/2017,6314,300,193,6,500,64,141.10
37,11/12/2017,614,300,19,4,500,64,141.10
38,11/13/2017,3149,300,101,5,500,64,141.10
39,11/14/2017,4005,300,139,8,500,64,141.10
40,11/15/2017,4880,300,164,4,500,64,141.10
41,11/16/2017,4136,300,137,5,500,64,141.10
42,11/17/2017,705,300,22,6,500,64,141.10
43,11/18/2017,570,200,17,5,500,64,141.10
44,11/19/2017,269,300,9,6,500,64,141.10
45,11/20/2017,4275,300,145,5,0,64,141.10
46,11/21/2017,5999,300,192,6,0,64,141.10
47,11/22/2017,4421,300,146,5,0,64,141.10
48,11/23/2017,6930,300,234,6,0,64,141.10
49,11/24/2017,5195,300,167,5,0,64,141.10

In [4]:
#remove bool_of_active column 
fitness_df.drop(['bool_of_active'], axis = 1, inplace = True)

In [5]:
#remove weight_kg column 
fitness_df.drop(['weight_kg'], axis = 1, inplace = True)

In [ ]:
#remove calories_burned column
fitness_df.drop([''])

In [13]:
fitness_df

          date  step_count  mood  calories_burned  hours_of_sleep  weight_lb
0    10/6/2017        5464   200              181               5     145.51
1    10/7/2017        6041   100              197               8     145.51
2    10/8/2017          25   100                0               5     145.51
3    10/9/2017        5461   100              174               4     145.51
4   10/10/2017        6915   200              223               5     145.51
..         ...         ...   ...              ...             ...        ...
91    1/5/2018         133   100                4               2     141.10
92    1/6/2018         153   300                0               8     141.10
93    1/7/2018         500   200                0               5     141.10
94    1/8/2018        2127   200                0               5     141.10
95    1/9/2018        2203   300                0               5     141.10

[96 rows x 6 columns]

In [ ]:
#saving dataframe into csv file 
fitness_df.to_csv('f.csv', index=False)